* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #f1f1f1;
  --main-background-color: #0f0f0f;
  --main-background-contrast: #222222;
  --main-contrast-hover: #303030;
}

body {
  height: 100vh;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

caption {
  font-weight: bold;
  margin-bottom: 1rem;
}

th, td {
  border: 1px solid var(--main-text-color);
  padding: 10px;
}

table + button {
  color: var(--main-text-color);
  background-color: var(--main-background-contrast);
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  transition: all 0.2s ease-in-out;
}

table + button:hover {
  cursor: pointer;
  background-color: var(--main-contrast-hover);
}