*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #0f0f0f;
  --main-border-color: #94866d;
  --main-header-color: #b8a282;
  --main-background-color: #e2dbc8;
  --main-background-contrast: #d8ccb4;
}

body {
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

caption {
  font-weight: bold;
  margin-bottom: 1rem;
}

th, td {
  min-width: 150px;
  min-height: auto;
  border: 1px solid var(--main-border-color);
  padding: 10px;
  transition: all 0.2s ease-in;
}

thead {
  background-color: var(--main-header-color);
}

tbody th,
tbody td {
  background-color: var(--main-background-contrast);
}

tbody tr:hover {
  cursor: pointer;
}

tbody > tr:hover > th, 
tbody > tr:hover > td {
  background-color: #d0f3b2;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  order: -1;
}

form > div {
  height: 55px;
}

input:not([type="radio"]),
select {
  width: 100%;
  appearance: none;
  color: var(--main-text-color);
  background-color: var(--main-background-contrast);
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  margin-top: 8px;
  padding: 5px;
}

label {
  font-weight: bold;
}

label, select, input[type="date"] {
  cursor: pointer;
}

form > div:nth-child(2) {
  position: relative;
}

form > div:nth-child(2) > span {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

form > div:last-of-type {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

form > div:last-of-type > div {
  display: flex;
  gap: 5px;
  align-items: center;
}

input[type="radio"] {
  accent-color: var(--main-text-color);
}

form button {
  color: var(--main-text-color);
  background-color: var(--main-background-contrast);
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--main-border-color);
  transition: all 0.2s ease-in-out;
}

form button:hover {
  cursor: pointer;
}

form button:active {
  transform: translateY(5px);
  background-color: var(--main-background-color);
}

/*Remove number input spinner*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Remove quest "button"*/
.remove-button {
  margin: 10px;
  padding: 5px;
  border: 1px solid var(--main-border-color);
  border-radius: 50%;
  color: var(--main-text-color);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.remove-button:hover {
  cursor: pointer;
  opacity: 1;
  background-color: var(--main-background-contrast);
}

/*Toggle status*/
.completed {
  background-color: #bbee91;
}